:root {
  --bg: #1f242c;
  --white: #faebd7;
  --rainbowgr: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
}

p {
  font-family: "Inter", sans-serif;
}

.emph {
  font-style: italic;
}

/* BODY */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--white);
  line-height: 1.3;
}

.site-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;

  /* 
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%; */
}

.page-wrapper button {
  padding: 2px;

  color: var(--white);
  background-color: transparent;
  border: 1.5px solid var(--white);
  border-radius: 5px;

  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
/* HEADER STYLES*/

/* nav bar */
.nav-float {
  z-index: 100;
  position: fixed;
}

.nav-bar {
  /*parent container of logo+nav-list*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 25px 25px;
  width: 100vmax;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.logo h1 {
  font-size: 300%;
}
.logo a {
  text-decoration: none;
  color: var(--white);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-right: 20px;
}

/* Underline Effect */

.nav-list a {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0.5px;
}

.nav-list a:after {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

.nav-list a:hover:after {
  width: 100%;
}

.button {
  width: 5rem;
  font-weight: 700;
  font-size: 30px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* SOCIAL BAR */
.side-socials {
  position: fixed;
  z-index: 10;
  top: 300px;
  right: auto;
  left: 40px;
}

.side-socials li {
  padding: 10px;
}

.side-socials a {
  text-decoration: none;
  color: var(--white);
}

.social-column {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 10px;
}

.social-box svg {
  width: 28px;
  height: 28px;
}

.social-box svg:hover {
  transition: 0.2s;
  transform: translateY(-3px);
}

.social-box {
  background-color: none;
  justify-content: center;
}

/* CONTENT STYLES*/

/* hero section*/

.hero-wrapper {
  height: 100vh;
  background: var(--rainbowgr);
  background-blend-mode: screen;

  /*linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  */
}

/* Hero grid heading/text  */

.hero-container-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: "text img";
}

.hero-container-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.hero-text-box {
  position: relative;
  right: 100px;
}

.hero-line-1 {
  line-height: 10px;
}

.hero-line-1 h3 {
  font-size: 28px;
  letter-spacing: 2px;
}

.hero-line-2 {
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-thickness: 8px;
}

.hero-line-2 h2 {
  font-size: 125px;
  font-weight: 700;
}

.hero-line-2 em {
  font-style: italic;
}

.hero-desc {
  flex-wrap: wrap;
  font-size: 28px;
  line-height: 1.3;
}

.hero-button button {
  margin-top: 50px;
  width: auto;
  height: auto;
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  padding: 20px;
  border-radius: 50px;
}
.hero-img {
  grid-area: img;
  margin-right: 300px;
  margin-bottom: 150px;
}

#hero-wrapper {
  position: relative;
}

.hero-divider {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  line-height: 0;
}

.hero-divider svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 150px;
}

.hero-divider .shape-fill {
  fill: #1f242c;
}

.section-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding: 50px 0px;
}

.section-header {
  margin: 50px 150px;
  align-self: flex-start;
}
/* about me */

#about {
  height: 100vh;
  position: relative;
  background-image: url("../images/blob-scatter4-fb.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.about-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  height: 600px;
  border-radius: 25px;
  background: var(--rainbowgr);
  background-blend-mode: screen;
  box-shadow: rgb(19, 19, 19) 0px 20px 30px -10px;
}

.aboutme-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
  padding: 50px;

  border-radius: 25px;
  box-sizing: border-box;
  grid-area: desc;
}

.aboutme-desc p {
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 1rem;
}
.aboutme-img {
  width: 500px;
  border-radius: 25px;
  box-sizing: border-box;
  grid-area: img;
}

.aboutme-img img {
  width: auto;
  height: 75%;
}

/* projects*/

#work {
  background-image: url("../images/blob-scatter2-fb.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.work-container {
  background-color: var(--rainbowgr);
  background-blend-mode: screen;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  margin: 50px 125px;

  grid-template-areas:
    "proj1 proj1 proj2"
    "proj4 proj5 proj5";
}

.project {
  position: relative;
  min-width: 400px;
  background-color: #3b3b3b;
  padding: 25px;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: rgb(10, 10, 10) 0px 20px 30px -10px;
}

.project-card {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: flex-end;
}

.project-card a {
  text-decoration: none;
  color: var(--white);
}

/*.project-card:hover {
   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); 
}*/

/* overlay blur learned from> https://dcode.domenade.com/tutorials/image-hover-text-effect-html-css */

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  outline: solid 1px var(--white);
  outline-offset: -12px;

  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s;
}

.card-overlay--blur {
  backdrop-filter: blur(5px);
}

.card-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.projlink > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.card-overlay:hover {
  opacity: 1;
}

.card-overlay:hover > * {
  transform: translateY(0);
}

.projlink:hover > * {
  transform: translateY(0px);
}

.project-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.project-desc {
  text-align: justify;
  margin-bottom: 10px;
}

.proj-1 {
  grid-area: proj1;
  background-image: url(../images/HoriseonScreenCap.png);
  background-position: top;
  background-size: cover;
}

.proj-2 {
  grid-area: proj2;
  background-image: url(../images/02-portfolio-2.jpg);
  background-position: center;
  background-size: cover;
}
.proj-3 {
  grid-area: proj3;
  background-image: url(../images/02-portfolio-1.jpg);
  background-position: left;
  background-size: cover;
}
.proj-4 {
  grid-area: proj4;
  background-image: url(../images/02-portfolio-4.jpg);
  background-position: center;
  background-size: cover;
}
.proj-5 {
  grid-area: proj5;
  background-image: url(../images/02-run-buddy.jpg);
  background-position: center;
  background-size: 100%;
}

/* contact me */

#contact {
  height: 25vh;
}

footer {
  align-items: center;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.contact-box {
  display: flex;
  gap: 150px;
}

.contact-box a {
  text-decoration: none;
  color: var(--white);
}

.contact-box h2 {
  position: relative;
  font-weight: 700;
}

.contact-box h2:after {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

.contact-box h2:hover:after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 800px;
  }
}
