:root {
  --white: antiquewhite;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
}

.emph {
  font-style: italic;
}

/* BODY */

body {
  font-family: "Inter", sans-serif;
  background-color: #1f242c;
  color: var(--white);
  line-height: 1.3;
}

.site-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  /* 
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%; */
}

.page-wrapper button {
  padding: 2px;

  color: var(--white);
  background-color: transparent;
  border: 1.5px solid var(--white);
  border-radius: 5px;

  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: ;
}
/* HEADER STYLES*/

/* nav bar */
.nav-float {
  z-index: 100;
  position: fixed;
}

.nav-bar {
  /*parent container of logo+nav-list*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  height: 125px;
  padding: 25px 25px;
  width: 100vmax;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.logo h1 {
  font-size: 300%;
}
.logo a {
  text-decoration: none;
  color: var(--white);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 20px;
}

.nav-list li a {
  flex: 1;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
}

.cv-button {
  width: 5rem;
  font-weight: 700;
}

/* SOCIAL BAR */
.side-socials {
  position: fixed;
  z-index: 10;
  top: 400px;
  right: auto;
  left: 40px;
}

.side-socials li {
  padding: 10px;
}

.social-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 50rem;
}

/* .social-columns::after {
  height: 90px;
  margin: 0px auto;
} */

.social-box {
  background-color: none;
  justify-content: center;
}

/* CONTENT STYLES*/

/* hero section*/

.hero-wrapper {
  height: 100vh;
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}

/* Hero grid heading/text  */

.hero-container-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* gap: 50px; */
  justify-content: center;
  align-items: center;
  padding: 0 100px;

  /* 
  display: grid;
  grid-template-columns: 100%; */
}

.hero-container-flex {
  display: flex;
  flex-direction: column;
  /* margin-top: 250px; 
  margin-left: 150px;
  margin-right: 150px;*/
  gap: 1;
  /* background-color: #1f242c2a;
  border: solid 5px; */
}
.hero-text-box {
  flex-basis: 100px;
  background-color: linear-gradient(--white, transparent);
  padding: 20px;
  border-radius: 50%;
}

.hero-line-1 h3 {
  font-size: 25px;
  letter-spacing: 2px;
}

.hero-line-2 {
  max-width: 450px;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-thickness: 8px;
}

.hero-line-2 h2 {
  font-size: 125px;
  font-weight: 700;
}
.hero-line-2 em {
  font-style: italic;
}

.hero-desc {
  flex-wrap: wrap;
  font-size: 30px;
  line-height: 1.3;
}

.hero-button {
  font-weight: 200;
  margin-top: 50px;
}
.hero-img {
  margin-top: 250px;
}

#hero-wrapper {
  position: relative;
}

.hero-bottom {
  position: bottom;
}

.hero-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.hero-divider svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 150px;
}

.hero-divider .shape-fill {
  fill: #1f242c;
}

#content-grid {
}
.section-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0px;
}

.section-header {
  margin: 50px 150px;
  align-self: flex-start;
}
/* about me */
#about {
  height: 125vh;
  position: relative;
}

.about-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-template-areas: "desc img";
}

.aboutme-desc {
  width: 500px;
  padding: 50px;
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  border-radius: 25px;
  box-sizing: border-box;
  grid-area: desc;
}

.aboutme-desc p {
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 1rem;
}
.aboutme-img {
  width: 500px;
  background-color: black;
  border-radius: 25px;
  box-sizing: border-box;
  grid-area: img;
}

.aboutme-img img {
  width: auto;
  height: 85%;
}

/* projects*/

#work {
  height: 100%;
  /* background-color: black; */
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  margin: 50px 125px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  width: 400px;
  padding: 25px;
  background-color: #3b3b3b;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.proj-1 {
  background-image: url(../images/02-portfolio-1.jpg);
  background-position: center;
  background-size: cover;
}

.proj-2 {
  background-image: url(../images/02-portfolio-2.jpg);
  background-position: center;
  background-size: cover;
}
.proj-3 {
  background-image: url(../images/02-portfolio-3.jpg);
  background-position: center;
  background-size: cover;
}
.proj-4 {
  background-image: url(../images/02-portfolio-4.jpg);
  background-position: center;
  background-size: cover;
}
.proj-5 {
  background-image: url(../images/02-run-buddy.jpg);
  background-position: center;
  background-size: cover;
}
.proj-6 {
  background-image: url(../images/02-portfolio-1.jpg);
  background-position: center;
  background-size: cover;
}

/* contact me */
#contact {
  height: 50vh;
}

/* footer styles */
footer {
  grid-area: footer;
}
